{% extends 'contentCreator/base.html' %}



{% block content %}

<div id="all_courses_block" class="f_r_space_around" style="flex-wrap: wrap; align-items: flex-start;min-height: 30rem;">

    
    {% if course_list %}
        <h1>You have not added any courses yet</h1>
    {% endif %}
        
    {% for course in mathcourse_list %}
        <a href="{% url 'course_detail' course.id %}" class="course_card f_r_space_between" style="margin: 1rem 0;"  >
            
                <div class="card_content f_c_space_between">
                    <div class="course_heading_author f_c_start " style="width: 100%;">
                        <h1>
                            {{course.title}}
                        </h1>
                        <h3>
                            {{course.author.username}}
                        </h3>
                    </div>
                        <div class="f_c_start" style="width: 100%; margin-top: 20px;" >
                        <h5>
                            {{course.course_length}} hours
                        </h5>
                        <h2>
                            {{course.price}} $
                            </h2>
                        </div>
                   
                </div>

                <div class="course_card_image">
                    <img src="{{ course.course_image.url }}" alt="img">
                </div>
              
            

            
         </a>

    {% endfor %}
</div>
{% endblock content %}
    